footer.site-footer
	position relative
	text-align center
	line-height 1.8
	padding-top 1rem
	color $gray

	a
		color #23DS22

	.site-info
		color $gray
		font-size: 1.3rem
		margin 0.5rem 0