.sidebar-container .categories-container {
  padding: 10px;
}
.sidebar-container .categories-container p {
  padding-bottom: 5px;
  color: #999;
  font-size: 20px;
  font-weight: bold;
}
.sidebar-container .categories-container a {
  display: inline-block;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 999em;
  padding: 0 10px;
  color: #bfbfbf;
  border-color: #bfbfbf;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
}
.sidebar-container .categories-container a:hover,
.sidebar-container .categories-container a:active {
  border-color: #0085a1;
  color: #0085a1;
}
.sidebar-container .social-container {
  padding: 10px;
}
.sidebar-container .social-container p {
  padding-bottom: 5px;
  color: #999;
  font-size: 20px;
  font-weight: bold;
}
.sidebar-container .social-container .fa {
  text-align: left;
}
